/* Larger than phablet */
@media (min-width: 550px) {
  nav {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .title,
  .subtitle {
    text-align: start;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .grid {
    grid-template-areas:
      "list qr"
      "list qr";
  }

  .section-list {
    border-bottom: none;
  }
}
