:root {
  --color-primary: #33c3f0;
  --color-light: #f1f1f1;
  --color-dark: #222222;
  --color-warning: #cc3300;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

.container {
  margin: 0 0 6rem 0;
  text-align: center;
  overflow-wrap: break-word;
  position: absolute;
  top: calc(50% - 6rem);
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.error-code {
  color: var(--color-warning);
  font-size: 8rem;
  margin-bottom: 0;
  margin-top: 0;
}

.message {
  font-size: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

#redirect {
  font-weight: bold;
  color: var(--color-warning);
}

footer {
  text-align: center;
}

footer > div {
  /* structure */
  display: flex;
  align-items: center;
  justify-items: center;

  /* look */
  padding: 2rem 0;
  color: var(--color-dark);
  background-color: var(--color-dark);
}

a {
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  z-index: 1;

  /* look */
  filter: invert(100%) sepia(3%) saturate(845%) hue-rotate(217deg)
    brightness(118%) contrast(89%);
}

a:hover {
  filter: invert(100%) sepia(3%) saturate(845%) hue-rotate(217deg)
    brightness(90%) contrast(89%);
  transition: ease 200ms;
}

@media (min-width: 550px) {
  a {
    margin: 1rem auto;
  }
}
