:root {
    --color-primary: #33c3f0;
    --color-primary-light: #33c4f073;
    --color-light: #f1f1f1;
    --color-light-dark: #ccc;
    --color-dark: #222222;
    --color-warning: #cc3300;

    --color-background: #ffffff;
    --color-divider: #ccc;
    --color-subtitle: #333;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/* DISPLAY SETTINGS */
.only-phone {
    display: block;
}

.no-phone {
    display: none;
}

@media (min-width: 550px) {
    .only-phone {
        display: none;
    }

    .no-phone {
        display: block;
    }
}

/* TRUNCATING */
.line-clamp,
.line-clamp[wrap="1"] {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.line-clamp[wrap="2"] {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

@media (min-width: 550px) {
    .header-button {
        margin-bottom: 0;
    }
}
