<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />

        <title>Loading...</title>

        <link rel="stylesheet" href="/public/normalize.css" />
        <link rel="stylesheet" href="/public/skeleton.css" />
        <link rel="stylesheet" href="/public/global.css" />
        <link rel="stylesheet" href="/public/build/main/bundle.css" />

        <script>
            const initialId = {{ id or 0 }}
            const initialRoute = {{ route or { "path": "/", "href": "/" } }}
        </script>

        <script defer src="/public/build/main/bundle.js"></script>
    </head>

    <body></body>
</html>
