<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/global.css" />
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <link rel="stylesheet" href="/error.css" />
    <title>{{ code }}: {{ name }}</title>
  </head>
  <body>
    <div class="container">
      <h1 class="error-code">{{ code }}: {{ name }}</h1>
      <p class="message">{{ message }}</p>
    </div>
    <footer>
      <p id="redirect"><a>Redirect</a> in <span>10</span>s</p>
      <div class="logo">
        <a href="https://github.com/mHaisham/qrshare">
          <img class="footer-logo" src="/assets/github.svg" />
        </a>
      </div>
    </footer>
    <script>
      const redirect = document.querySelector("#redirect");
      const redirectTimer = document.querySelector("#redirect > span");
      const time = {{ timeout or 5 }};
      const redirectUrl = '{{ redirect }}' || '/';
      const delay = (ms) => new Promise((res) => setTimeout(res, ms));

      (async () => {
        // set redirect link
        document.querySelector("#redirect > a").setAttribute('href', redirectUrl)

        redirectTimer.textContent = time;
        for (let index = time - 1; index >= 0; index--) {
          await delay(1000);
          redirectTimer.textContent = index;
        }

        redirect.textContent = "Redirecting now...";
        document.location.assign(redirectUrl);
      })();
    </script>
  </body>
</html>
