<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style/login.css') }}" />
    <title>Authenticate</title>
</head>
<body>
    <div class="container content">
        
      <nav class="section">
        <div>
          <h5 class="title line-clamp">AUTHENTICATE</h5>
            {% if message %}
                <div class="subtitle {{ 'warning' if warning else '' }} line-clamp" wrap="2">{{ message }}</div>
            {% endif %}
        </div>
      </nav>

      <form class="access-form" method="post">
          <input class="u-full-width" placeholder="Enter access code" type="password" name="passcode" id="accessInput">
          <input class="button" type="submit" value="Submit">
      </form>
      
      <footer>
          <div class="container">
            <div class="m-auto">
              <a href="https://github.com/mHaisham/qrshare">
                <img class="footer-logo" src="{{ url_for('static', filename='assets/github.svg') }}">
              </a>
            </div>
          </div>
      </footer>
    </div>

</body>
</html>