<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>login</title>
    </head>
    <body>
        <h1>Login</h1>
        <form action="/login" method="post">
            <label for="password">Password</label>
            <input type="text" id="password" name="password" />
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
