<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>Home</h1>
        {% if path.tag == 'File' %}
        {{ path.content }}
        {% else %}
        <div>
            <h2>{{ path.content.path }}</h2>
            <p>{{ relative }}</p>
            <ul>
                {% for child in path.content.children %}
                <li>{{ child }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </body>
</html>
